<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->

<suite name="LocalSuite" verbose="1" thread-count="1">
    <test name="CreateUserDBTest" verbose="1">
        <classes>
            <!--<class name="com.saucelabs.kv004.db.CreateUserDBTest"></class>-->
            <!--<class name="com.saucelabs.kv004.db.CreateProblemDBTest"></class>-->
            <class name="com.saucelabs.kv004.db.ResourcesDBTest"></class>
        </classes>
    </test>

</suite>