<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="LocalSuite" verbose="1" thread-count="1">
    <test name="CreateUserDBTest" verbose="1">
        <!--<groups>-->
            <!--<run>-->
                <!--<include name="CreateUser" />-->
                <!--<include name="DBTests" />-->
            <!--</run>-->
        <!--</groups>-->

        <classes>

            <!--<class name="com.saucelabs.Tests.DBTests.newTests.CreateUserDBTest"></class>-->
            <class name="com.saucelabs.Tests.DBTests.newTests.CreateProblemDBTest"></class>
            <!--<class name="com.saucelabs.Tests.DBTests.AddProblemTest"></class>-->
        </classes>
    </test>

</suite>