<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
       <suite parallel="none" name="Suite">
    <!-- Suite -->
    -<test name="Test">
    <parameter name="number" value="222"/>
    -<classes>
    <class name="test.statsenko.TestEmployeeThrowMyException"/>
    <class name="test.statsenko.TestJuniorEmployeeGetPayment"/>
    <class name="test.statsenko.TestSeniorEmployeeGetPayment"/>
    <class name="test.statsenko.TestSeniorEmployeeGetPaymentNegative"/>
</classes>
</test>
    <!-- Test -->
</suite>